body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(32, 28, 28);
    color: whitesmoke;
    transition: margin-right 2s ease-in-out .5s;
}
p {
    animation-duration: 2s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.about_me{
    height: 400px;
    width: 850px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* text-align: center; */
    padding-top: 100px;
}
h2{
   padding-left: 200px;
   font-weight: 700;
   font-size: 30px;
}
.about-me{
    color:red;
}
.about-me-p{
    padding-left: 20px;
     font-size: 25px;
    font-weight: 600;
    color: rgb(143, 28, 28);
}
p{
    padding-left: 210px;
}
button{
  border-style: none;
  background-color:red;
  padding: 10px 20px 10px 20px;
  margin-left:200px ;
  font-size: 13px;
  border-radius: 30px;
 
}
/* button {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */